[submodule "plugins/diskuse_summary"]
	path = plugins/diskuse_summary
	url = git@github.com:boundary/boundary-plugin-disk-summary.git
[submodule "plugins/redis"]
	path = plugins/redis
	url = git@github.com:boundary/boundary-plugin-redis.git
[submodule "plugins/cpu_core"]
	path = plugins/cpu_core
	url = git@github.com:boundary/meter-plugin-cpu-core.git
[submodule "plugins/nginx"]
	path = plugins/nginx
	url = git@github.com:boundary/meter-plugin-nginx
[submodule "plugins/haproxy"]
	path = plugins/haproxy
	url = git@github.com:boundary/boundary-plugin-ha-proxy.git
[submodule "plugins/apache"]
	path = plugins/apache
	url = git@github.com:boundary/boundary-plugin-apache-http-server.git
[submodule "plugins/litespeed"]
	path = plugins/litespeed
	url = git@github.com:graphdat/plugin-litespeed.git
[submodule "plugins/memcached"]
	path = plugins/memcached
	url = git@github.com:boundary/meter-plugin-memcached.git
[submodule "plugins/mysql"]
	path = plugins/mysql
	url = git@github.com:boundary/meter-plugin-mysql.git
[submodule "plugins/process_memory"]
	path = plugins/process_memory
	url = git@github.com:graphdat/plugin-process_memory.git
[submodule "plugins/process_cpu"]
	path = plugins/process_cpu
	url = git@github.com:graphdat/plugin-process_cpu.git
[submodule "plugins/mongo"]
	path = plugins/mongo
	url = git@github.com:graphdat/plugin-mongo.git
[submodule "plugins/httpcheck"]
	path = plugins/httpcheck
	url = git@github.com:boundary/meter-plugin-http-check.git
[submodule "plugins/pingcheck"]
	path = plugins/pingcheck
	url = git@github.com:boundary/boundary-plugin-ping-check.git
[submodule "plugins/forkrate"]
	path = plugins/forkrate
	url = git@github.com:boundary/meter-plugin-fork-rate.git
[submodule "plugins/hbase"]
	path = plugins/hbase
	url = git@github.com:graphdat/plugin-hbase.git
[submodule "plugins/shell"]
	path = plugins/shell
	url = git@github.com:boundary/boundary-plugin-shell.git
[submodule "plugins/rabbitmq"]
	path = plugins/rabbitmq
	url = git@github.com:boundary/meter-plugin-rabbitmq.git
[submodule "plugins/postgresql"]
	path = plugins/postgresql
	url = git@github.com:boundary/boundary-plugin-postgresql.git
[submodule "plugins/aerospike"]
	path = plugins/aerospike
	url = git@github.com:boundary/boundary-plugin-aerospike-server.git
[submodule "plugins/couchdb"]
	path = plugins/couchdb
	url = https://github.com/boundary/boundary-plugin-couchdb
[submodule "plugins/elasticsearch"]
	path = plugins/elasticsearch
	url = https://github.com/boundary/boundary-plugin-elasticsearch
[submodule "plugins/docker"]
	path = plugins/docker
	url = https://github.com/boundary/meter-plugin-docker.git
[submodule "plugins/kafka"]
	path = plugins/kafka
	url = https://github.com/boundary/meter-plugin-kafka.git
[submodule "plugins/cassandra"]
	path = plugins/cassandra
	url = https://github.com/boundary/meter-plugin-cassandra.git
[submodule "plugins/spark"]
	path = plugins/spark
	url = https://github.com/boundary/meter-plugin-spark.git
[submodule "plugins/storm"]
	path = plugins/storm
	url = https://github.com/boundary/meter-plugin-storm.git
[submodule "plugins/vmware"]
	path = plugins/vmware
	url = https://github.com/boundary/meter-plugin-vmware.git
[submodule "plugins/zookeeper"]
	path = plugins/zookeeper
	url = https://github.com/boundary/meter-plugin-zookeeper.git
[submodule "plugins/openstack"]
	path = plugins/openstack
	url = https://github.com/boundary/meter-plugin-openstack.git
[submodule "plugins/tomcat"]
	path = plugins/tomcat
	url = https://github.com/boundary/meter-plugin-apache-tomcat.git
[submodule "plugins/iis"]
	path = plugins/iis
	url = https://github.com/boundary/meter-plugin-iis.git
[submodule "plugins/process"]
	path = plugins/process
	url = https://github.com/boundary/meter-plugin-process.git
[submodule "plugins/hadoop"]
	path = plugins/hadoop
	url = https://github.com/boundary/meter-plugin-hadoop.git
[submodule "plugins/solr"]
	path = plugins/solr
	url = https://github.com/boundary/meter-plugin-solr.git
[submodule "plugins/activemq"]
	path = plugins/activemq
	url = https://github.com/boundary/meter-plugin-activemq.git
[submodule "plugins/mssql"]
	path = plugins/mssql
	url = https://github.com/boundary/meter-plugin-mssql.git
